* {
  font-family: "Montserrat";
}

nav button {
  color: wheat;
}

nav #brand {
  width: 200px;
}

nav .nav-link {
  color: #fff;
  letter-spacing: 0.05rem;
  font-size: 1rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

nav .nav-link:hover {
  color: #ffc800;
}

@media (max-width: 992px) {
  nav #brand {
    width: 148px;
  }
}

.scrolled-nav {
  padding: 0.8rem 0;
  background-color: #212529;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.myNav {
  padding: 1rem 0;
  background-color: #212529;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

@media (min-width: 992px) {
  .myNav {
    border: none;
    background-color: transparent;
    padding: 1.5rem 0;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
}

#header {
  padding: 15rem 0 10rem 0;
  background-image: url("../images/img/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: center center;
}

#header h3 {
  font-size: 2.25rem;
  line-height: 2.25rem;
  font-family: "Roboto Slab";
  font-style: italic;
  letter-spacing: 0.06rem;
}

#header h1 {
  font-size: 4.5rem;
  line-height: 4.5rem;
  font-weight: 700;
}

#header button {
  background-color: #ffc800;
  color: white;
  padding: 20px 30px;
  font-size: 1.1rem;
  font-weight: 700;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#header button:hover {
  background-color: #c09806;
}

@media (max-width: 992px) {
  #header {
    padding: 12rem 0 8rem 0;
  }
  #header h3 {
    font-size: 1.6rem;
  }
  #header h1 {
    font-size: 2.5rem;
    line-height: 2.9rem;
  }
  #header button {
    padding: 12px 22px;
  }
}

#services {
  padding: 7.5rem 0;
}

.section-title {
  text-align: center;
}

.section-title h1 {
  font-weight: bolder;
  font-size: 2.5rem;
}

.section-title p {
  font-style: italic;
  padding-top: 0.89rem;
  font-family: "Roboto Slab";
}

#service-cards #icons {
  margin: 0 auto;
  background-color: #ffc800;
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 100%;
  position: relative;
}

#service-cards i {
  font-size: 3.7rem;
  color: #fff;
  position: absolute;
  top: 25%;
  left: 18%;
}

#service-cards p {
  font-style: italic;
  font-family: "Roboto Slab";
}

.portfolio {
  padding: 7.5rem 0;
  background-color: #f8f9fa;
}

.portfolio-item .text-card {
  text-align: center;
}

.portfolio-item .text-card h3 {
  font-weight: bold;
  font-size: 1.5rem;
}

.portfolio-item .text-card p {
  font-style: italic;
  font-family: "Roboto Slab";
}

.portfolio-item a {
  position: relative;
}

.portfolio-item .portfolio-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 200, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

.portfolio-item .portfolio-hover i {
  font-size: 4rem;
  font-weight: 900;
}

.portfolio-item .portfolio-hover:hover {
  opacity: 1;
}

.modal #pp {
  font-family: "Roboto Slab";
  font-style: italic;
}

.modal .container {
  text-align: center;
}

.modal .close-modal {
  margin: 1.1rem 1.1rem 1.1rem auto;
  width: 2.1rem;
  height: 2.1rem;
  background-color: transparent;
  cursor: pointer;
}

.about {
  padding: 7.5rem 0;
}

.timeline h2 {
  font-size: 1.2rem;
  font-weight: bold;
}

.timeline h1 {
  font-size: 1.7rem;
  font-weight: bolder;
}

.timeline p {
  font-style: italic;
  font-family: "Roboto Slab";
  line-height: 2rem;
}

.about-image {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.about-image img {
  display: block;
  margin: 0 auto auto auto;
  border-radius: 50%;
  width: 58%;
  border: 9px solid #e9ecef;
}

@media (max-width: 992px) {
  .about-image img {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .about-image img {
    width: 100%;
  }
}

.timeline-container {
  position: relative;
}

.timeline-container .line {
  position: absolute;
  top: 0%;
  right: 49.9%;
  width: 4px;
  height: 80%;
  background-color: #e9ecef;
  z-index: -1;
}

@media (max-width: 768px) {
  .timeline-container .line {
    right: 87%;
  }
}

.team {
  padding: 7.5rem 0;
  background-color: #f8f9fa;
}

.team-member {
  text-align: center;
}

.team-member img {
  width: 15rem;
  border-radius: 50%;
  margin-bottom: 1.3rem;
  border: 8px solid #dbdee0;
}

.team-member h3 {
  font-weight: bold;
}

.team-member p {
  font-family: "Roboto Slab";
  margin-top: 0;
}

.team-member a {
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
}

#team-p {
  font-family: "Roboto Slab";
}

.logos {
  padding: 2.4rem;
}

.logos img {
  display: block;
  margin: 0 auto;
  width: 12rem;
}
/*# sourceMappingURL=style.css.map */